{% extends 'base.html' %}

{% block content %}
<div class='container img-responsive block-center'>
    <section class='landing-section landing-main'>
        <div class='landing-section-content'>
            <h1 class='brand'>Antiques</h1>
            <h2>
            <span class='brand-text'>Discover unique objects</span>
            </h2>
            <p class='landing-main-text'>
            We sell all types of Antiques, which you will not find anywhere in the world, click <a 
            href='{% url "products" %}' id='product-link'>here</a> to see our selection.
            </p>
        </div>
    </section>
</div>
{% endblock %}