{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Setting New password{% endblock %}

{% block content %}

{% if validlink %}
<h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>

{% else %}

<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, <br>
    possible because it has already been used.<br>
    Please request a new password reset.</p>
    
{% endif %}

{% endblock %}