{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap_tags %}

{% block content %}

<h2 class="page-title">Our Antiques</h2><br>
<p class="product-info">If you would like to some more information or advice on any of our antiques please click
    <a href="{% url 'contact' %}">here</a> to send us your query.</p><br><br>

        <h2 class="header-info">Our Products</h2>

    <div class="row row-flex text-center">

    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-4 display panel panel-default">
        <div class="panel-body">
             <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <br>
            <h3> {{ product.name }} </h3>
            <p class="product-description"> {{ product.description }} </p>
            <p>Price: <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span> {{ product.price }} </p>
            <form method="post" class="quantity-input" action="{% url 'add_to_cart' product.id %}">

                {% csrf_token %}

                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control"
                        placeholder="Type Quantity" required>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div><br>
            </form>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}